@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Quicksand:wght@300&display=swap");

:root {
  --main-bg-color: #fdf4ed;
  --secondary-dark: #27161b;
  --primary-dark: #0d0709;
  --primary-hover: #351c25;

  --rose: #995c68;
  --light-blue: #156165;
}
html,
body {
  background: #fdf4ed;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  columns: var(--primary-dark);
  font-family: "Quicksand", sans-serif;
}
a:hover {
  color: var(--primary-hover);
}
h1 {
  color: var(--secondary-dark);
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}
p {
  columns: var(--primary-dark);
  font-family: "Quicksand", sans-serif;
}

* {
  box-sizing: border-box;
}
